@font-face {
  font-family: "Sequel100Black75";
  src: url("/fonts/sequel100black-75-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Sequel100Black75";
}
