.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.case {
  cursor: pointer;
  position: fixed;
  right: 10px;
  top: 0px;
  transition: 0.3s all linear;
  z-index: 100000000;
  background-image: url("../images/svgorange/1.png");
  background-repeat: no-repeat;
  background-size: 135px;
  background-position: top -12px right 0;
  height: 90px;
  width: 55px;
  animation-name: closing;
  animation-duration: 0.3s;
  -webkit-tap-highlight-color: transparent;
}

.caseOpen {
  cursor: pointer;
  position: fixed;
  right: 51%;
  transform: translateX(50%);
  top: 0.5vh;
  transition: 0.3s all linear;
  z-index: 100000000;
  background-repeat: no-repeat;
  background-size: 137px;
  background-position: top -5px right 0;
  height: 93px;
  width: 122px;
  animation-name: opening;
  animation-duration: 0.3s;
  background-image: url("../images/svgorange/15.svg");
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("../images/svgorange/1.png") url("../images/svgorange/2.svg")
    url("../images/svgorange/3.svg") url("../images/svgorange/4.svg")
    url("../images/svgorange/5.svg") url("../images/svgorange/7.svg")
    url("../images/svgorange/8.svg") url("../images/svgorange/9.svg")
    url("../images/svgorange/10.svg") url("../images/svgorange/11.svg")
    url("../images/svgorange/12.svg") url("../images/svgorange/13.svg")
    url("../images/svgorange/14.svg") url("../images/svgorange/15.svg")
    url("../images/svgorange/6.svg");
}

@keyframes opening {
  0% {
    background-image: url("../images/svgorange/1.png");
  }
  7% {
    background-image: url("../images/svgorange/2.svg");
  }
  14% {
    background-image: url("../images/svgorange/3.svg");
  }
  21% {
    background-image: url("../images/svgorange/4.svg");
  }
  28% {
    background-image: url("../images/svgorange/5.svg");
  }
  35% {
    background-image: url("../images/svgorange/6.svg");
  }
  42% {
    background-image: url("../images/svgorange/7.svg");
  }
  49% {
    background-image: url("../images/svgorange/8.svg");
  }
  56% {
    background-image: url("../images/svgorange/9.svg");
  }
  63% {
    background-image: url("../images/svgorange/10.svg");
  }
  70% {
    background-image: url("../images/svgorange/11.svg");
  }
  77% {
    background-image: url("../images/svgorange/12.svg");
  }
  84% {
    background-image: url("../images/svgorange/13.svg");
  }
  91% {
    background-image: url("../images/svgorange/14.svg");
  }
  100% {
    background-image: url("../images/svgorange/15.svg");
  }
}

@keyframes closing {
  0% {
    background-image: url("../images/svgorange/15.svg");
  }

  7% {
    background-image: url("../images/svgorange/14.svg");
  }

  14% {
    background-image: url("../images/svgorange/13.svg");
  }

  21% {
    background-image: url("../images/svgorange/12.svg");
  }

  28% {
    background-image: url("../images/svgorange/11.svg");
  }

  35% {
    background-image: url("../images/svgorange/10.svg");
  }

  42% {
    background-image: url("../images/svgorange/9.svg");
  }

  49% {
    background-image: url("../images/svgorange/8.svg");
  }

  56% {
    background-image: url("../images/svgorange/7.svg");
  }

  63% {
    background-image: url("../images/svgorange/6.svg");
  }

  70% {
    background-image: url("../images/svgorange/5.svg");
  }

  77% {
    background-image: url("../images/svgorange/4.svg");
  }

  84% {
    background-image: url("../images/svgorange/3.svg");
  }

  91% {
    background-image: url("../images/svgorange/2.svg");
  }

  100% {
    background-image: url("../images/svgorange/1.png");
  }
}
