@font-face {
  font-family: "Sequel100Black75";
  src: url("/fonts/sequel100black-75-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: black;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/background.png"); /* Second layer for flipping */
  background-size: 600px; /* Adjust size as needed */
  background-repeat: repeat;
}

* {
  padding: 0;
  margin: 0;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
}

.loading {
  color: rgba(249, 102, 49, 1);
}

.three-text::selection,
.three-text br::selection .three-text span {
  background: none;
}

.rotate-icon {
  -webkit-tap-highlight-color: transparent;
}

.rotate-icon::selection {
  background: none;
}

.main-border {
  width: 100%;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  border: 6px solid;
  border-image: url(./images/border.jpg) 30 round;
  overflow: hidden;
  z-index: 200;
  pointer-events: none;
}

.icons-home {
  font-size: min(max(20px, 2.2vmax), 28px);
  color: #d75b2b;
}
